.hamburger {
  position: fixed;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 0;
  z-index: 20;
  /* background-color: transparent; */
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: all 00.3s ease-in-out;
  row-gap: 10px;
}

.hamburger span:nth-child(1).open {
  transform: rotate(45deg) translate(5.7px, 5.7px);
}

.hamburger span:nth-child(2).open {
  opacity: 0;
}

.hamburger span:nth-child(3).open {
  transform: rotate(-45deg) translate(5.7px, -5.7px);
}

.nav {
  display: none;
}

.nav.open {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 200px;
  height: 100vh;
  background-color: aquamarine;
  padding: 45px 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav a:hover {
  color: #666;
}

