* {
  box-sizing: border-box;
}

.App {
  background-color: #18181b;
}

a {
  text-decoration: inherit;
  margin-right: 20px;
  color: white;
}

.Icons {
  margin-left: 100px;
}

.Icons a{
  margin-right: 15px;
}

.Menu {
  padding-right: 50px;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  height: fit-content;
  background-color: #18181b;
  color: white;
  padding-bottom: 20px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  transition: "transform 0.3s ease-in-out",
}

.hamburger {
  position: fixed;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  max-width: fit-content;
  max-height: fit-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  z-index: 20;
  background-color: #18181b;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: whitesmoke;
  margin-bottom: 5px;
  border-radius: 2px;
}

.hamburger span:nth-child(3) {
  margin-bottom: 0;
}

.hamburger span:nth-child(1).open {
  transform: rotate(45deg) translate(5.7px, 5.7px);
}

.hamburger span:nth-child(2).open {
  opacity: 0;
}

.hamburger span:nth-child(3).open {
  transform: rotate(-45deg) translate(5.7px, -5.7px);
}

.nav {
  display: none;
}

.nav.open {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 250px;
  height: 100vh;
  background-color: whitesmoke;
  padding: 60px 20px;
  font-size: 1.5em;
  color: #18181b;
  justify-content: center;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav li {
  margin-bottom: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: #666;
}

.Icons a {
  transition: transform 0.3s ease-in-out;
}

.Icons a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* .Icons a:hover {
  transform: scale(1.2);
} */

.Menu a:hover {
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.btn-contact:hover {
  background-color: rgb(80, 60, 140);
  transition: background-color 0.3s ease-in-out;
}

/*Landing section*/
h1, h4 {
  text-align: center;
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*Projects Section*/
#projects-section {
  color: white;
  text-align: left;
  margin-left: 100px;
  padding-top: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.Cards {
  max-width: 926px;
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 0.313rem;
  /* border: 1px solid hsl(0, 0%, 80%); */
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.card-image {
  width: 40%;
  margin-right: 40px;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-text-container {
  margin-left: 2px;
  text-align: left;
  width: 60%;
}

.card-text-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;

}

.card-text-container p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.card-header {
  padding-right: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card-text {
  padding-right: 20px;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 40%);
}

.skills-icons {
  border: 1px solid black;
  height: 25px;
  margin-bottom: 5px;
}

.live-icon {
  border: 1px solid blue;
}

.links-btns {
  border: 1px solid black;

}

.source-icon {
  color: #18181b;
}

/*Contact Me Section*/

#contact-me {
  background-color: rgba(81, 45, 168);
  color: rgb(217, 212, 228);
  padding: 20px;
}

#contactMe-section {
  color: white;
  text-align: left;
  margin-left: 100px;
  padding-top: 20px;
}


form {
  margin-top: 10px;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  text-align: left;
  padding: 0;

}

#labels {
  width: 100%;
  max-width: 600px;
}

label {
  padding-bottom: 3px;
  padding-top: 15px;
  display: block;
  width: 100%;
  max-width: 600px;
}
input {
  background-color: rgba(81, 45, 168);
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(102, 76, 161);
  outline: none;
  color: #ffff;
}

.btn-contact  {
  background-color: rgb(102, 76, 161);
  width: 100%;
  max-width: 600px;
  margin-top: 5px;
  color: white;
}

textarea {
  background-color: rgba(81, 45, 168);
  width: 100%;
  max-width: 600px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid rgb(102, 76, 161);
  outline: none;
  color: #ffff;
}



body {
  margin: 0;
  padding: 0;
}

.btn-contact {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

.footerIcons {
  padding-bottom: 10px;
}

/* button:hover {
  border-color: #646cff;
} */
 /* @media (max-width: 768px) {
  #footer-icons {
    display: none;
  }
 } */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Header {
    padding-top: 50px;
  }
  #contactMe-section  {
    margin-left: 80px;
  }

  #projects-section {
    margin-left: 60px;
  }

  .footerIcons {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .Header {
    padding-top: 30px;
  }
  #projects-section {
    margin-left: 60px;
  }

  #contactMe-section {
    margin-left: 80px;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .Header {
    padding-top: 20px;
    flex-direction: column;
  }
  .Icons {
    margin-bottom: 10px;
  }
  #projects-section {
    margin-left: 60px;
  }
  #contactMe-section {
    margin-left: 80px;
  }
}

/* Extra small devices (phones, 575px and down) */
@media (max-width: 575px) {
  .Header {
    padding-top: 10px;
    flex-direction: column;
  }
  .Icons {
    margin-bottom: 10px;
  }
  .Menu {
    flex-direction: column;
  }
  .Menu a {
    margin-bottom: 10px;
  }
   #projects-section {
    margin-left: 60px;
  }
  #contactMe-section {
    margin-left: 80px;
  }
}

 .BurgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .BurgerMenu {
    display: block;
  }
  .Icons, .Menu {
    display: none;
  }

  .Cards {
    flex-direction: column;
    max-width: 550px;
  }

  .Cards {
    width: 100%;
  }

  .Cards .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0;
  }

  .card-text-container {
    width: 100%;
    padding-top: 20px;
  }
}